body {
    display: -webkit-box;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #ffffff;
    line-height: 1.4;
    color: #333;
    font-size: 12px
}
a:link {
    text-decoration: none;
}
.item4menu{
  background: #ffffff !important;
  color:#484848
}
.el-form-item{
  font-size:16px;
  transition:all 0.3s;
}

.el-form-item:focus {
  transform: scale(1.01);
}
.el-form-item:hover  {
  transform: scale(1.01);
}
.item4menu:hover{
  background: #ffffff !important;
  color:#1376BE !important;
}
.item4menu.is-active{
  color:#1A72B7 !important;
}
.el-header,.el-footer{
    color:#333;
    background: #ffffff;
}

ol, ul {
  padding-left: 0;
  list-style-type: none
}
.block{
    margin: 0;
}
.el-menu-demo{
  border: none;
}
.button4plain{
  border: 1px solid #707070;border-radius:14px;color:#707070;font-size: 16px;
  height: 28px;
  width: 60px;
  line-height: 0;
  padding: 0;
}
.button4plain:hover{
  color:#1376BE;
  border-color:#1376BE;
  background-color: #ffffff !important;

}

.radio4forms {
  border-radius: 26px !important;
  width: 160px !important;
  margin: 0 50px;
}
.item4forms{
  border-radius: 30px 0 0 30px;
}
.img4forms{
  filter:Invert();
}
.el-button--text{
  color:#222222;
}
.el-menu-item{
  font-size: 18px;
}

.el-submenu__title{
  font-size: 18px;
  border-bottom: none;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}
.el-row {
    margin-bottom: 20px;


}
.el-col {
    border-radius: 4px;
}

.wrap {
    -webkit-box-flex: 1;
    flex: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blockDiv{
  width: 100%;
  height:110px;
}
.footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-top: 1px solid #E6E9EE;
    background: #ffffff ;
    line-height: 40px
}

.footer::after {
    clear: both;
    content: "";
    display: table
}

.friend-link {
  width: 100%;
    float: left;
    color: #999;
    display: inline;
}

.friend-link li {
    float: left;
    padding-right: 3px;
    padding-left: 3px
}

.friend-link a {
    color: #999;
    font-size: 14px
}


.copyright {
  width: 230px;
  display: inline-block;
  color: #999;
  font-size: 12px;
}
.child-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}
.show-rectangle{
    width:50%;
    height:400pt;

    margin-top:2%;
    margin-left: 25%;
    background: #f6f6f6;
}
.show-rectangle-big{
    width:30%;
    height:100%;
    position: relative;
    top:2%;
    left:4%;
    background: #ffffff;
}
.show-rectangle-nw{
    width:30%;
    height:49%;
    position: relative;
    top:-98%;
    left:35%;
    background: #ffffff;
}
.show-rectangle-ne{
    width:30%;
    height:49%;
    position: relative;
    top:-147%;
    left:66%;
    background: #ffffff;
}
.show-rectangle-sw{
    width:30%;
    height:49%;
    position: relative;
    top:-145%;
    left:35%;
    background: #ffffff;
}
.show-rectangle-se{
    width:30%;
    height:49%;
    position: relative;
    top:-194%;
    left:66%;
    background: #ffffff;
}
.el-tabs__item{
    font-size: 16px;
}
.input-date{
  width:40.3%;
}
.table{
  border-top:2px solid #1476C1;
}
